@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(58, 58, 151);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
div{
    text-align: center;/*Coloca a div centralizada e imagem dentro dela tambem*/
    padding: 8px;
}
img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
header h1{
    margin-top: 10px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;/*comando para centraliza a div no centro do site*/
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px black;
}
footer{
    color: red;
    padding: 7px;
    width:150px;
    margin: auto;/*comando para centralizar footeer*/
    font-style: italic;
}